# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage
/.vitest

# Next.js
/.next/
/out/
*.rsc

# Production
/build
/dist

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


/src/generated/prisma

# TypeScript build cache
tsconfig.tsbuildinfo

# Docker environment)
docker-compose.env

